RewriteEngine On
RewriteBase /

# Redirecionar URLs em inglês
RewriteRule ^en/obahvillage$ en/pousada.php [L]
RewriteRule ^en/accomodations$ en/accommodations.php [L]
RewriteRule ^en/gallery$ en/gallery.php [L]
RewriteRule ^en/kitesurf$ en/kite.php [L]
RewriteRule ^en/contacts$ en/contacts.php [L]
RewriteRule ^en/standard-room$ en/room_01.php [L]
RewriteRule ^en/varanda-room$ en/room_02.php [L]
RewriteRule ^en/family-room$ en/room_03.php [L]

# Redirecionar URLs em português
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^pousada$ pousada.php [L]
RewriteRule ^obahvillage$ pousada.php [L]
RewriteRule ^acomodacoes$ accommodations.php [L]
RewriteRule ^galeria$ gallery.php [L]
RewriteRule ^kite$ kite.php [L]
RewriteRule ^contatos$ contacts.php [L]
RewriteRule ^quarto-standard$ room_01.php [L]
RewriteRule ^quarto-varanda$ room_02.php [L]
RewriteRule ^quarto-familia$ room_03.php [L]
