RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^pousada$ pousada.php [L]
RewriteRule ^obahvillage$ /en/pousada.php [L]
RewriteRule ^acomodacoes$ accommodations.php [L]
RewriteRule ^/en/accommodations$ /en/accommodations.php [L]
RewriteRule ^galeria$ gallery.php [L]
RewriteRule ^gallery$ /en/gallery.php [L]
RewriteRule ^kite$ kite.php [L]
RewriteRule ^kitesurf$ /en/kite.php [L]
RewriteRule ^contatos$ contacts.php [L]
RewriteRule ^contacts$ /en/contacts.php [L]
RewriteRule ^quarto-standard$ room_01.php [L]
RewriteRule ^standard-room$ /en/room_01.php [L]
RewriteRule ^quarto-varanda$ room_02.php [L]
RewriteRule ^varanda-room$ /en/room_02.php [L]
RewriteRule ^quarto-familia$ room_03.php [L]
RewriteRule ^family-room$ /en/room_03.php [L]